*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    width: 100px;
    padding: 40px 77px 0px 77px;
    font-family: "Inconsolata", monospace;
    font-weight: 700px;
    font-size: 1.5em;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    color: #333333;
}

main {
    padding: 77px 77px;
    width: 100%;
}


.main-content {
    width: 100%;
    display: flex;
}

.main-content > div {
    flex-basis: 100%;
}

.main-img {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}

.main-text {
    font-family: "Space Mono", monospace;
    padding: 40px 77px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    letter-spacing: -0.035em;
}


