*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    width: 100%;
    padding: 40px 77px 0px 77px;
    font-family: "Inconsolata", monospace;
    font-weight: 700;
    font-size: 1.5em;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    color: #333333;
}

main {
    padding: 77px 77px;
    width: 100%;
}

button {
    font-weight: 700;
    padding: 24px 43px;
    background-color: #333333;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    width: min(70%, 325px);
    text-align: center;
    font-size: .88em;
}

footer {
    padding: 40px 77px 24px 77px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: .88em;
    color: #BDBDBD;
    font-weight: 500;
}

footer span span {
    font-weight: 700;
    text-decoration: underline;
  }


.main-content {
    width: 100%;
    display: flex;
}

.main-content > div {
    flex-basis: 100%;
}

.main-img {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(Scarecrow.png);
}

.main-img img {
    display: none;
    width: 100%;
  }

.main-text {
    font-family: "Space Mono", monospace;
    padding: 40px 77px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    letter-spacing: -0.035em;
}

.main-text h1 {
    font-weight: 700;
    font-size: 4em;
    line-height: 1.4em;
    color: #333333;
    max-width: 733px;
}

.main-text p {
    font-size: 1.5em;
    width: min(100%, 500px);
    line-height: 1.5em;
    color: #4F4F4F;
}

@media screen and (max-width: 1100px) {
    .main-text h1 {
      font-size: 3em;
      line-height: 1.3em;
    }
  
    .main-text p {
      font-size: 1.125em;
      line-height: 1.3em;
    }
  
    .main-text a {
      font-size: .66em;
    }
  
    footer {
      font-size: .66em;
    }
  
    .main-text {
      row-gap: 38px;
    }
  
    .main-text p {
      width: 100%;
    }
  }


@media screen and (max-width: 900px) {
    .main-content {
      flex-wrap: wrap;
    }
  
    .main-img img {
      display: block;
    }
  
    .main-img {
      background: none;
    }
  
    .main-text {
      padding: 0;
    }
  
    .main-content {
      row-gap: 40px;
    }
  }

  @media screen and (max-width: 600px) {
    header {
      padding: 20px 24px;
    }
  
    main {
      padding: 40px 24px 80px 24px;
    }
  }